/*
!.gitignore
!README.md

# Emacs
!.emacs.d
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/custom.el

# Shell environments
!.bashrc
!.mytcsh

# Neovim
!.config/
.config/*
!.config/nvim/
.config/nvim/autoload/
.config/nvim/sessions/
.config/nvim/v:null/


